.pb-toolbox .mdl-tabs__panel {
    padding: 16px;
}

/* Toolbox */
.pb-toolbox {
    background-color: #F5F5F5;
    height: 95vh;
}

/* List */
.pb-list--no-spacing {
    margin: 0;
    padding: 0;
}
.pb-list--no-spacing .pb-card {
    padding: 8px 0;
    margin-bottom: 16px;
}


/* Card */
.pb-card {
    height: auto;
    min-height: 0;
    width: auto;
    min-width: 0;
}

.pb-card--row + .pb-card--row,
.pb-card--row + .pb-area--drop,
.pb-card--col + .pb-area--drop {
    margin-top: 16px;
}

.pb-card--section {
    flex-direction: row;
    margin-bottom: 16px;
}

.pb-card--active {
    background-color: #DFF0D8;
}

.pb-card--grab:hover {
    cursor: grab;
}
.pb-card--grab:active {
    cursor: move;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

/*.pb-block--active {*/
    /*position: relative;*/
/*}*/
/*.pb-block--active:before {*/
    /*content: "Modifiable";*/
    /*position: absolute;*/
    /*font-size: 70%;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*color: #3c763d;*/
    /*top: -20px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
/*}*/

/* Background */
.pb-background {
    padding: 16px;
    /*width: auto;*/
    /* change this */
    width: 100%;
}

/* Bar */
.pb-bar {
    box-sizing: border-box;
    position: relative;
    background: #3F51B5;
    color: white;
    padding: 16px;
}

.pb-bar--horizontal {
    width: 100%;
    line-height: 36px;
    padding: 8px 16px;

}
.pb-bar--horizontal .pb-bar__menu {
    right: 16px;
    top: 8px;
}

.pb-bar--vertical {
    width: 64px;
    min-height: 100px;
}
.pb-bar--vertical .pb-bar__menu {
    bottom: 16px;
}

.pb-bar--text {
    background: #7C7C7C;
}
.pb-bar--text + .pb-background * {
    line-height: 160%;
}

.pb-bar--image {
    background: #E91E63;
}
.pb-bar--image + .pb-background {
    padding: 0;
}

.pb-bar__button {
    position: absolute;
}

.pb-bar__menu {
    position: absolute;
}

.pb-bar__caption {
    display: block;
    text-align: center;
    font-weight: bold;
}

/* Image */
.pb-image {
    display: block;
    width: 100%;
    height: auto;
}

/* Drop area */
.pb-area {
    text-align: center;
}

.pb-area--drop {
    line-height: 36px;
    padding: 6px;
    background-color: #f5f5f5;
    border: 2px dashed;
}

.pb-area--green {
    background-color: #DFF0D8;
    border-color: #3c763d;
    color: #3c763d;
}

.pb-area__caption {
    display: block;
    text-align: center;
}


/* Sketch grid */
.pb-grid--sketch {
    margin: 0;
    padding: 0;
    width: 100%;
}
.pb-grid--sketch .mdl-cell {
    background-color: #BDBDBD;
    color: white;
    padding: 16px 8px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Ruslan Styles */
/* navigation tab active*/
.mdl-tabs__tab.is-active{
    background-color: aquamarine;
}