/* Box > main-box */
.pb-main-box .pb-workarea,
.pb-main-box .pb-toolbar {
    height: 900px;
}

.pb-main-box .pb-workarea-content,
.pb-main-box .pb-toolbar {
    overflow: auto;
}

.pb-main-box .pb-workarea {
    padding-left: 30px;
}


/* Card > dashed-card */
.pb-dashed-card .card-block > .fa {
    margin-right: 3px;
}


/* Section */
.pb-section .pb-control-bar {
    margin-left: -30px;
}

.pb-row .pb-control-bar {
    margin-left: -15px;
}


/* Toolbar */
.pb-toolbar .pb-menu {
    height: 100%;
}


/* Menu > main-menu */
.pb-main-menu .pb-menu-items {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.pb-main-menu .pb-menu-items > li {
    position: relative;
    height: 50px;
    opacity: .75;
}
.pb-main-menu .pb-menu-items > li:hover {
    cursor: pointer;
    opacity: 1;
}
.pb-main-menu .pb-menu-items > li:after {
    content: "";
    display: block;
    clear: both;
}
.pb-main-menu .pb-menu-items > .pb-active-menu-item {
    color: #1FB5AD;
    opacity: 1;
    cursor: default;
}
.pb-main-menu .pb-menu-items > .pb-active-menu-item:before {
    border: 8px solid transparent;
    border-left-color: #28282E;
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left: 0;
}
.pb-main-menu .pb-menu-items > li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Menu > content-menu */
.pb-content-menu .pb-panel {
    background-color: transparent;
    padding: 15px;
}

.pb-content-menu .pb-panel-caption {
    color: #bfbfc1;
}

.pb-content-menu .pb-panel-content p {

}

.pb-content-menu .pb-panel-content .pb-row-sketch {
    margin-bottom: 7px;
}


/* Active */
/*.pb-workarea {*/
    /*opacity: 1;*/
/*}*/

.pb-active-workflow :not(.pb-active-box) .pb-element {
    opacity: .3;
}

.pb-active-workflow .pb-active-box .pb-element {
    opacity: 1;
}

/*.pb-workarea .pb-element {*/
    /*opacity: .5;*/
/*}*/


/* TinyMCE */