/* Root app */
.pb-main-box {
    position: relative;
}

/* Workarea  */
.pb-workarea {
    background-color: #F1F2F7;
    padding: 0;
    margin: 0;
}

/* Toolbar */
.pb-toolbar {
    background-color: #767676;
    color: #aeb2b7;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

/* Section */
.pb-section {
    display: flex;
    flex-wrap: wrap;
}

.pb-section-content {
    width: 100%;
}

/* Row */
.pb-row {
    margin: 15px 0;
}

.pb-row-content {
    padding: 0 15px;
}

/* Element */
.pb-element {

}

/* Menu */
.pb-menu {

}

.pb-menu-caption {
    margin: 0;
    padding: 0 15px;
    border: none;
    outline: none;
    line-height: 50px;
    background-color: #1FB5AD;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
}
.pb-menu-caption-icon {
    margin-right: 5px;
}

/* Menu > main-menu */
.pb-main-menu {
    position: relative;
    min-width: 50px;
    margin-left: auto;
    background-color: #202025;
}

.pb-main-menu-end {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.pb-main-menu-start,
.pb-main-menu-end {
    width: 100%;
}
.pb-main-menu-start > li .btn,
.pb-main-menu-end > li .btn {
    width: 100%;
    height: 50px;
    border-radius: 0;
}

/* Menu > content-menu */
.pb-content-menu {
    width: 100%;
    background-color: #28282E;
}


/* Panel */
.pb-panel {
    background-color: white;
}

.pb-panel-caption {

}

/* Option */
.pb-option {
    display: flex;
}

.pb-option-name {

}

.pb-option-value {
    margin-left: auto;
}

/* Bar */
.pb-control-bar {
    position: absolute;
    width: 15px;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 1em;
    vertical-align: middle;
}
.pb-control-bar:before {
    content: "☰";
    position: absolute;
    color: black;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.pb-control-bar:hover {
    cursor: pointer;
}
.pb-control-bar:active {
    cursor: move;
}


/* Card */
.pb-dashed-card {
    border: 2px dashed #828295;
    background-color: #E5E6EB;
    text-align: center;
    width: 100%;
}


/* Common */
.pb-section,
.pb-row {
    position: relative;
    padding-left: 15px;
}


/* Button */
.pb-add-section-button{
    background-color: #00c853;
    display: block;
    margin: 2em auto;
    border: none;
    border-radius: 5em;
    height: 5em;
    width: 5em;
    color: white;
}
.pb-add-section-button:focus,
.pb-add-section-button:hover{
    background-color: #009e4a;
    outline: none;
}


/* Icon */
.pb-icon-plus:before {
    content: '+';
}
.pb-icon-plus {
    font-size: 3em;
}