/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/* App */
.App{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: stretch;
}

/* View Constructor Block*/
.view-constructor-block {
    display: flex;
    background-color: blue;
    flex-direction: column;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: auto;
    align-self: auto;
}

/* - Add-New-Structure-Block */

/* - Section-Block */
.section-block {
width: 100%;
    background-color: blueviolet;
}

/* - Control-Panel */
.control-panel {

}

/* -- Control-Panel-item*/
.control-panel__drag {

}

.control-panel__copy {

}

.control-panel__delete {

}
/* -- Row-Block*/
.row-block{
    width: 100%;
    background-color: brown;
}
/* --- Col-Block */
.col-block{
    width: 100%;
    background-color: chocolate;
}
/* end View Constructor Block*/
/* ToolBar */
.toolbar-block {
    display: flex;
    background-color: darkgreen;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 4;
    flex-basis: auto;
    align-self: flex-start;
}

/* - Navigation Block */
.toolbar-block__nav{
background-color: slateblue;
}
/* - Tab Panel Block*/
.toolbar-block__tab-panel{
background-color: gray;
}
/* end ToolBar*/