.new-structure-block,
.content-block,
.content-block-item{
    min-height: 10em;
    position: relative;
    border: 1px dashed black;
    background-color: whitesmoke;
}/*
.drop-zone-active-content .content-block-item,
.drop-zone-active-structure .new-content-block{
    border: 3px dashed #409e7b;
    background-color: #dff0d8;
}*/
/*
.new-structure-block .glyphicon-plus{
    font-size: 4em;
    color: gainsboro;
    position: absolute;
    left: 50%;
    top: 25%;
}
.add-new-icon-plus{
    left: 50%;
    top: 16%;
    background: rgb(42, 158, 73);
    height: 2em;
    position: absolute;
    width: .5em;
}
.add-new-icon-plus:after {
    background: rgb(42, 158, 73);
    content: "";
    height: .5em;
    left: -0.79em;
    position: absolute;
    top: 0.79em;
    width: 2em;
}
#add-new-icon-plus {
    left: 50%;
    top: 25%;
    background: rgb(157, 157, 157);;
    height: 5em;
    position: absolute;
    width: 1em;
}
#add-new-icon-plus:after {
    background: rgb(157, 157, 157);;
    content: "";
    height: 1em;
    left: -2.1em;
    position: absolute;
    top: 2.1em;
    width: 5em;
}
*/
.drop-zone-active #add-new-icon-plus,
.drop-zone-active #add-new-icon-plus:after{
    background: #077323;
}

#drop_zone,
.content-block-item{
    padding: 0;
}

.active-content-dnd{

}

.item-contentType-Image{
    background-color: darkgray;
    text-align: center;
}
.item-contentType-Image .glyphicon-picture{
    font-size: 5em;
    margin: 34px;
}

.item-contentType-Text input{
    border: none;
    background-color: transparent;
    height: 3em;
    width: 100%;
    padding: 10px;
}

.drop-zone-active-structure .new-structure-block{
    background-color: rgba(84, 156, 100, 0.32);
}
.drop-zone-active-content .new-content-element{
    min-height: 3em;
    /*height: 4em;*/
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgba(84, 156, 100, 0.32);
}
.drop-zone-active-content .new-content-element:only-child{
    height: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgba(84, 156, 100, 0.32);
}

